click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysqlclient==1.3.12
python-dateutil==2.7.1
pytz==2018.3
simplejson==3.13.2
six==1.11.0
SQLAlchemy==1.2.5
Werkzeug==0.14.1
